<div class="hbox hbox-auto-xs hbox-auto-sm">
  <div class="col">
    <app-page-header title="Afegir un nou dispositiu"></app-page-header>
    <div class="wrapper-md">
      <div class="panel panel-default">
        <div class="panel-heading">
          Formulari de creació d'un nou dispositiu
        </div>
        <div class="panel-body">
          <form [formGroup]="deviceForm" novalidate="">
            <div class="row">
              <div class="col-md-6">

                <div class="form-group col-md-12">
                  <label>Segment:</label>
                  <select class="form-control" formControlName="segment_id" (change)="onSegmentChanged()">
                    <option *ngFor="let segment of segments" [value]="segment.id">{{segment.id}}</option>
                  </select>
                </div>

                <div class="form-group col-md-6">
                  <label>Longitut:</label>
                  <input type="text" class="form-control" placeholder="..." formControlName="longitude">
                </div>

                <div class="form-group col-md-6">
                  <label>Latitut:</label>
                  <input type="text" class="form-control" placeholder="..." formControlName="latitude">
                </div>

                <div class="col-md-12 centered">
                  <small>{{ formattedAddress }}</small>
                </div>

                <div class="form-group">
                  <div class="col-md-2">
                    <button type="button" class="btn btn-sm btn-danger" (click)="onCancel()">Tornar</button>
                  </div>
                  <div class="col-md-2 col-md-offset-8">
                    <button type="submit" class="btn btn-sm btn-primary" (click)="onSubmit()">Crear dispositiu</button>
                  </div>
                </div>

              </div>
              <div class="col-md-6 map-container">
                <app-map
                  [readOnly]="false"
                  (clickMapEvent)="onMapClicked($event)"
                  [disabledLights]="backgroundMarks"
                  uiMapTypeControl="true"
                  >
                </app-map>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
