<div class="row wrapper">
  <div class="col-sm-5 m-b-xs">
    <select class="input-sm form-control w-sm inline v-middle">
      <option value="0">Bulk action</option>
      <option value="1">Delete selected</option>
      <option value="2">Bulk edit</option>
      <option value="3">Export</option>
    </select>
    <button class="btn btn-sm btn-default">Apply</button>
  </div>
  <div class="col-sm-4">
  </div>
  <div class="col-sm-3">
    <div class="input-group">
      <input type="text" class="input-sm form-control" placeholder="Search">
      <span class="input-group-btn">
        <button class="btn btn-sm btn-default" type="button">Go!</button>
      </span>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped b-t b-light">
    <thead>
      <tr>
        <td> # </td>
        <td> SERIAL ID </td>
        <td> SEGMENT </td>
        <td> GEOLOCALITZACIÓ </td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let device of devices" (click)="onDeviceClicked(device)">
        <td>{{device.id}}</td>
        <td>{{device.serial_id}}</td>
        <td>{{device.segment_id}}</td>
        <td>{{device.address}}</td>
      </tr>
    </tbody>
  </table>
</div>
